.search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;

}

.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}


.remove-marker
{

    width: 107px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: white;
    background-color:#23c7ac;
    border: none;
    border-radius: 45px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin-bottom: 5px;
}
.remove-marker:hover{
    background-color:#cb2d40 ;

}
.transform-marker
{
    width: 107px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: white;
    background-color:#23c7ac;
    border: none;
    border-radius: 45px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;

}
.removeBlue-marker
{
    position: relative;
    left :20%;
    width: 107px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: white;
    background-color:#23c7ac;
    border: none;
    border-radius: 45px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin-bottom: 5px;
}
.removeGrey-marker
{
    position: relative;
    left :22%;
    width: 107px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: white;
    background-color:#23c7ac;
    border: none;
    border-radius: 45px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin-bottom: 5px;
}