@import url(//fonts.googleapis.com/css?family=Nunito&display=swap);

@media all and (min-width: 480px) {
    .PageFrame
    {
        margin: 100px;
        background-color: red;


    }
    .Login {
        padding: 60px 0;
        background-color:white;


    }

    .Login form {

        margin: 0 auto;
        max-width: 320px;
        background-color:white;
        position: absolute;
        right: 15%;
        bottom: 40%;





    }

    .Form
    {

    }

    .LoginText
    {
        padding-bottom: 20px;

    }

    .LogoImage
    {
        display: block;
        position: relative;
        width: 550px;
        height: 300px;
        top: 310px;
        right: 520px;
    }



    .EmailBox
    {

        border-radius: 100px;
        background-color:white;
        border: none;
        width: 230px;
        height: 37px;
        text-align: center;
        font-family: 'Nunito', sans-serif;


    }
    .PasswordBox {
        margin-top: 10px;
        border-radius: 100px;
        background-color: #e6e6e6;
        border: none;
        width: 230px;
        height: 37px;
        text-align: center;
    }
    .LoginBtn
    {
        margin-top: 40px;
        border: none;
        width: 230px;
        height: 37px;
        border-radius: 100px;
        background-color:#23c7ac;
        color:white;
        font-size: 20px;

    }

    body
    {
        background-color: white;
        text-align: center;
    }

    input:focus {outline: none; }
}
